.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid rgb(225, 232, 252);
}

.todo-button {
  cursor: pointer;
  padding: 6px 8px;
  background-color: rgb(225, 232, 252);
  border: none;
  outline: none;
}

.todo-button:hover {
  filter: brightness(0.9);
}
